.testimonials__container {
  width: 750px;
}

.testimonial__card {
  height: 9rem!important;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  display: flex!important;
  align-items: center!important;
  justify-content: center;
}

.testimonial__img {
  width: 10rem;
  margin-bottom: 3rem;
}


.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

@media screen and (max-width: 992px) {
  .testimonials__container {
    width: initial;
  }

  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
}
